@media screen and (max-width: 768px) {
  .header-background {
    height: 16vh;
    padding-bottom: 54px;
  }
  .header-heading {
    font-size: 2.6rem;
    padding: 0 0vh 0 0vh;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
  }
}
@media screen and (max-width: 576px) {
  .header-background {
    height: 14vh;
    padding-bottom: 46px;
  }
  .header-heading {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 496px) {
  .header-background {
    height: 12vh;
    padding-bottom: 40px;
  }
  .header-heading {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 446px) {
  .header-background {
    height: 10vh;
    padding-bottom: 30px;
  }
  .header-heading {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 426px) {
  .header-heading {
    font-size: 1.85rem;
  }
}