@media (max-width: 1290px) {
  
  .recent > div {
    width: 83.33%;
  }

}

@media (max-width: 1030px) {

  /* HERO */

  .hero-content {
    gap: 30px;
  }

  .hero-content > div {
    width: 50%;
  }

  /* RECENT */

  .recent > div {
    width: 75%;
  }

  /* OUR GAMES */

  .fp-games > div {
    width: 75%;
  }

}

@media (max-width: 968px) {

  .fp-div {
    width: 100%;
  }

  .fp-recruit-img {
    display: none;
  }

}

@media (max-width: 768px) {

  .recent-desktop {
    display: none;
  }

  .recent-mobile {
    display: flex;
  }

  /* HERO */

  .hero {
    height: 90vh;
  }

  .hero-content {
    gap: 40px;
  }

  .hero-content > div {
    width: 83.33%;
  }

  .hero-content > div p {
    font-size: 1.125rem;
  }

  .hero button#btn {
    font-size: 18px;
    padding: 15px 60px;
  }

  #arrow-btn {
    display: none;
  }

  /* RECENT */

  .recent {
    padding: 40px 0;
    gap: 0px;
  }

  .recent h1 {
    font-size: 1.75rem;
  }

  .recent > div div {
    display: flex;
    gap: 20px;
    width: 83.33%;
  }

  .recent p {
    padding: 0px;
  }

  /* SWIPER SLIDER */

  .swiper {
    width: 100% !important;
  }

  .swiper-wrapper {
    width: 100% !important;
    gap: 0 !important;
    margin-bottom: 150px;
  }

  .swiper-slide {
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide > div {
    width: 90%;
  }

  .swiper-slide > div > div {
    width: 100%;
  }

  .swiper-pagination {
    justify-content: center;
  }

  .swiper-pagination-bullet {
    background-color: #9A7E11  !important;
    height: 15px !important;
    width: 15px !important;
    z-index: 10;
  }

  /* OUR GAMES */

  .fp-games {
    padding: 5vh 0;
  }

  .fp-games > div {
    width: 91.66%;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    text-align: center;
    row-gap: 40px;
  }

  .fp-games > div > h2 {
    font-size: 1.75rem;
  }

  .fp-games a > div {
    display: flex;
    gap: 5px;
    font-size: 0.9rem;
    text-decoration: underline;
    justify-content: flex-end;
  }

  .fp-games-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px !important;
  }

  /* SUBSCRIBE */

  .fp-subscribe > div {
    width: 83.33%;
  }

  .fp-subscribe p {
    font-size: 0.9rem;
  }

  /* RECRUIT */
  
  .fp-div h3,
  .fp-div p {
    width: 95%;
    text-align: center;
  }

  .fp-div p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .fp-positions {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    width: 100%;
  }

  .fp-positions h1 {
    font-size: 4rem; /* 64px */
  }

  .fp-div button#btn {
    margin-top: 10px;
    font-size: 18px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: 576px) {
  .fp-subscribe form {
    flex-direction: column;
  }
}