@media screen and (max-width: 768px) {
  
  iframe {
    width: 600px;
    height: 350px;
  }

}
@media screen and (max-width: 624px) {

  iframe {
    width: 500px;
    height: 285px;
  }
  
}
@media screen and (max-width: 524px) {
  
  .modal-content {
    padding: 0 5px;
  }

  iframe {
    width: 400px;
    height: 230px;
  }

}
@media screen and (max-width: 420px) {

  iframe {
    width: 320px;
    height: 185px;
  }

}