* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 16px; /* normal font size*/
}

::-webkit-scrollbar {
  width: 20px;
  background-color: #495E57;;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #F4CE14;
  border-radius: 5px;
}

#logo {
  width: 161px;
  height: 60px;
}

a.hover,
a.active {
  color: #9A7E11;
}

/* SOCIAL MEDIA ICONS*/

.social-icons {
  height: 30px;
  width: 30px;
}

.icon-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 15px;
}