.article-container {
  background-color: #23404D;
  padding: 60px 0;
}

.article-container > div {
  gap: 30px;
}

.article-content {
  gap: 30px;
  line-height: 1.5;
  text-align: justify;
}

.article-info {
  overflow: hidden;
  gap: 50px;
}

.article-text {
  max-height: 100%;
}

#article-img {
  object-fit: cover;
  object-position: center;
  max-height: 300px;
}

#back-to-news {
  gap: 10px;
}

#back-to-news:hover {
  text-decoration: underline;
}