.article-container {
  background-color: #23404D;
  padding: 60px 0;
}

.article-container > div {
  gap: 50px;
}

.article-container > div > div {
  grid-gap: 40px;
}

.article-info {
  height: 400px;
  overflow: hidden;
  align-items: center;
}

.article-container p,
.article-info p {
  text-align: justify;
  line-height: 1.5;
}

#article-img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
}

#back-to-news {
  gap: 10px;
}

#back-to-news:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .article-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 30px;
  }
  .article-info p {
    order: 2;
    width: 100%;
  }
  #article-img {
    grid-area: image;
    width: 100%;
    height: auto;
  }

}