/*------ BANNER CSS ------*/

.careers-banner-bg {
    background-image: url('../../images/backgrounds/Bannerbg.jpg'); 
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.25);
    z-index: -1;
}
.careers-banner {
    text-align: center;
    padding: 21vh 10vh 5vh 10vh;
    font-size: 20px;
    letter-spacing: 1px;
}
.careers-title {
    text-transform: uppercase;
}

/*------ HERO CSS ------*/

.careers-hero {
    background-image: url('../../images/backgrounds/Careersbg.png');
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    padding: 0vh 22vh 0vh 14vh;
    gap: 170px;
}
.careers-character-img {
    height: auto;
    width: 425px;
    margin-bottom: -4px;
    margin-top: 5vh;
}
.careers-text-container {
    justify-content: center;
    align-content: center;
}
.careers-text-box {
    background-color: #e9e9e9a9;
    padding: 10vh 8vh 10vh 8vh;
    text-align: center;
    color: #1f1f1f;
    border-radius: 3px;
}
.careers-text-box h2 {
    font-weight: 400;
    font-size: 32px;
}
.careers-text-box h3 {
    font-weight: 600;
    margin-top: 4vh;
    line-height: 1.5em;
}

/*------ OPEN POSITIONS CSS ------*/

.careers-jobs {
    background-image: url('../../images/backgrounds/Currentjobsbg.png');
    background-size: cover;
    background-position: center;
    padding: 10vh 0 10vh 0;
}
.careers-jobs-open {
    text-align: center;
}
.careers-jobs-open h2 {
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.careers-titles-list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.careers-titles-list-container {
    background-color: #725934;
    padding: 2vh 6vh 2vh 6vh;
    border-radius: 3px;
}
.careers-titles-list p {
    font-size: 18px;
}
.careers-positions {
    padding: 6vh 0vh 6vh 0;
}
.careers-positions-boxes-scroll {
    display: flex;
    gap: 50px;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    cursor: grab;
    user-select: none;
}
.careers-positions-boxes {
    display: flex;
    gap: 20px;
    padding: 0vh 2vh 0vh 2vh;
}
.careers-positions-boxes-single {
    background-color: #d1d1d1;
    color: #3c3c3c;
    padding: 3vh 3vh 3vh 3vh;
    width: 200px; 
}
.careers-positions-boxes-single:hover {
    background-color: #c2c2c2;
}
.careers-positions-boxes-single-h2 {
    font-size: 14px;
    text-align: left;
    white-space: normal;
    height: 4em;
    line-height: 2em;
    border-bottom: 1px solid #1f1f1f;
    padding-bottom: 12px;
}
.careers-positions-boxes-single p {
    text-align: left;
    font-size: 16px;
    margin-top: 12px;
}

/*------ HELSINKI PART CSS ------*/

.careers-helsinki-container {
    background-color: #23404D;
    display: flex;
    align-items: center;
    padding: 8vh 22vh 8vh 22vh;
    gap: 100px;
}
.careers-lorem-text {
    text-align: center;
}
.careers-lorem-text h2 {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.careers-lorem-text h3 {
    margin-top: 54px;
    font-weight: 300;
    line-height: 1.5em;
}

/*------ FAQ CSS ------*/

.careers-faq-container {
    background-color: #f3f3f3;
    color: #1f1f1f;
    padding: 6vh 1vh 8vh 1vh;
}
.careers-faq-container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
}
.careers-faq-list {
    font-size: 24px;
    padding: 0vh 10vh 0vh 10vh;
    margin-top: 60px;
}
.careers-accordion-btn {
    border: none;
    border-bottom: 1px solid #1f1f1f52;
    background-color: #f3f3f3;
    cursor: pointer;
    width: 100%;
    padding: 3vh 1vh 3vh 1vh;
}
.careers-accordion-btn div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.careers-accordion-btn h3 {
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}
.careers-accordion-content {
    display: none;
    padding: 20px 10px;
    gap: 20px;
}
.careers-arrow-icon {
    rotate: 180deg;
    width: 30px;
    margin-right: 20px;
}