footer {
    background-color: #1f1f1f;
    padding: 20px 50px;
    align-items: center;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.footer-follow-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}