.desktop-footer {
    background-color: #1f1f1f;
    padding: 20px 50px;
    align-items: center;
}

.desktop-follow {
    gap: 20px;
}

.desktop-contact-info {
    gap: 5px;
}

.desktop-copyright {
    margin-top: 10px;
}

@media (max-width: 768px) {

    #desktop-footer {
        display: none;
    }
}