footer {
    background-color: #1f1f1f;
    padding: 20px 50px;
    align-items: center;
}

footer > div > div.flex-row {
    gap: 20px;
}

footer div.flex-col {
    gap: 5px;
}

footer > div:last-child {
    margin-top: 10px;
}