
/*------ HERO CSS ------ */

.games-hero-content {
    padding: 20vh 0 0 0;
    background-image: url('../../images/backgrounds/Bannerbg.jpg');
    background-size: cover;
    background-position: center;
}

.games-hero-content > div {
    gap: 50px;
}

.games-hero-content > div ul {
    gap: 10px;
}

#star-list {
    list-style: none;
}

.star-icon {
    height: 20px;
    width: 20px;
    opacity: 65%;
}

.games-hero-content > div h2 {
    font-weight: 400;
}

.games-hero-content > div span {
    color: #A7955B;
}

.games-hero-content > div h3 {
    font-weight: 400;
    font-style: italic;
}

#challenge-btn {
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #f3f3f3;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #A7955B; 
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.4s ease, color 0.4s ease;
}

#challenge-btn:hover {
    background-color: #5C4C0E;
    color: #8C8C8C;
    cursor: pointer;
}

.character {
    height: auto;
    width: 600px;
}

/*------ ALL GAMES CSS ------*/

.all-games-container {
    gap: 50px;
    padding: 10vh 0;
    background-image: url('../../images/backgrounds/Games_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.all-games-container > div:nth-child(2) {
    grid-gap: 50px;
}

.all-games-image-container {
    position: relative;
}

.all-games-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.4s ease;
}

.all-games-overlay span {
    margin-top: 18vh;
    color: #f3f3f3;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.all-games-image-container:hover .all-games-overlay {
    opacity: 1;
}

.all-games-image-container:hover .all-games-overlay span {
    opacity: 1;
}

.ad-container {
    width: 100vw;
    overflow: hidden;
}

.ad-image {
    display: block;
}
