/* GAME INFO */

.main-game-div {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-game-div::before {
  position: absolute;
  filter: blur(20px);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  margin-top: 20vh;
  row-gap: 100px;
}

.grid-item {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  align-items: flex-start;
}

.grid-item:last-of-type {
  padding: 40px 0;
}

#game-name {
  max-width: 60%;
}

.grid-text {
  margin-top: 10px;
  text-align: justify;
  line-height: 1.5;
  width: 80%;
}

#game-img {
  width: 100%;
}

.filler-img {
  width: 70%;
}

/* OVERVIEW */

.accordion-btn {
  background-color: #9A7E11;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.accordion-btn div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#arr-icon {
  font-size: 1.5rem;
  margin-right: 20px;
}

.rotate-icon {
  transform: rotate(180deg);
}

.accordion-content {
  border: 3px solid #9A7E11;
  display: none;
  padding: 20px 40px;
  background-color: #f3f3f31a;
  gap: 20px;
}

.accordion-content p {
  margin: 10px 0;
}

.rating-icons {
  gap: 10px;
}

/* SIMILAR GAMES */

.similar-games-container {
  max-width: 100%;
  padding: 50px;
  gap: 50px;
  align-items: center;
  background-color: #272727;
}

.link-content {
  max-width: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#all-games-link div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#all-games-link div:hover {
  text-decoration: underline;
}

#rarr {
  width: 30px;
  height: 30px;
}

#game-link {
  transition: filter 0.4s ease;
}

#game-link:hover {
  filter: brightness(0.5);
}