@font-face {
  font-family: "Desgaste";
  src: url("../../assets/fonts/vtks\ desgaste.ttf") format("truetype");
}

.main-container {
  max-width: 100vw;
  margin: 0 auto;
}

/* HERO */

.hero {
  background-image: url("../../images/backgrounds/EoD-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 630px;
}

.hero-content p {
  text-align: center;
}

#hero-h1 {
  font-family: "Desgaste", sans-serif;
  font-size: 4rem; /* 64px */
  color: #f3f3f3;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  font-size: 20px;
}

#arrow-btn {
  padding: 10px;
  font-size: 50px;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8vh;
  color: #f3f3f3;
  background-color: #ffffff23;
  animation: jump 2s infinite;
}

#arrow-btn:hover {
  cursor: pointer;
}

@keyframes jump {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-5px) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}

/* RECENT */

.recent {
  background-color: #000001;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 50px;
  padding: 10vh 10vw;
}

.recent-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.recent-content div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.recent-img {
  width: 330px;
  height: 270px;
  border-radius: 2px;
}

.recent-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 2vw;
  gap: 20px;
}

/* GAMES */

.fp-games {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 3vw;
  padding: 10vh 20vw;
  background-image: url('../../images/backgrounds/fp-games-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.fp-games-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vh;
}

.fp-game {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 40px 10px rgba(243, 243, 243, 0.25);
  border-radius: 2px;
}

/* RECRUIT */

.fp-recruit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #23404D;
  align-items: center;
}

.fp-div {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  gap: 30px;
  padding: 0 150px;
  text-align: center;
}

.fp-positions {
  display: flex;
  justify-content: space-evenly;
}

.fp-positions div {
  background-color: #f3f3f3;
  padding: 30px;
  border-radius: 10px;
}

.fp-positions h1,
.fp-positions p {
  color: black;
  text-align: center;
}

.fp-recruit-img {
width: 100%;
}