@font-face {
  font-family: "Desgaste";
  src: url("../../assets/fonts/vtks\ desgaste.ttf") format("truetype");
}

.recent-mobile {
  display: none;
}

/* HERO */

.hero {
  background-image: url("../../images/backgrounds/EoD/EoD_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}

.hero-content {
  gap: 50px;
}

.hero-content p {
  text-align: center;
}

.hero-content > div {
  gap: 30px;
}

#hero-h1 {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image */
}

#arrow-btn {
  padding: 10px;
  font-size: 50px;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8vh;
  color: #f3f3f3;
  background-color: #ffffff23;
  animation: jump 2s infinite;
}

#arrow-btn:hover {
  cursor: pointer;
}

@keyframes jump {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-5px) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}

/* RECENT */

.recent {
  background-color: #000001;
  gap: 50px;
  padding: 60px 0;
}

.recent > div {
  align-items: stretch;
  gap: 50px;
}

.recent > div div {
  gap: 10px;
}

#recent-link {
  overflow: hidden;
  height: 30vh;
}

#recent-link img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.recent p {
  text-align: justify;
  line-height: 1.5;
}

/* GAMES */

.fp-games {
  gap: 50px;
  padding: 10vh 0;
  background-image: url('../../images/backgrounds/Games_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.fp-games-content {
  gap: 50px;
}

.fp-game {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fp-game:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 20px 10px rgba(243, 243, 243, 0.103);
}

.all-games-btn {
  gap: 10px;
  justify-content: flex-end;
}

.all-games-btn:hover {
  text-decoration: underline;
}

/* SUBSCRIBE */

.fp-subscribe {
  padding: 50px 0;
  background-color: rgba(188, 234, 255, 0.315);
}

.fp-subscribe > div {
  gap: 30px;
}

.fp-subscribe > div > div {
  gap: 10px;
}

.sub-form {
  gap: 20px;
}

.sub-form input{
  padding: 15px 50px;
  border-radius: 5px;
}

.fp-subscribe button#btn-sm {
  margin-top: 0;
}

/* RECRUIT */

.fp-recruit {
  background-color: #23404D;
  overflow: hidden;
  align-items: stretch;
}

.fp-div {
  gap: 30px;
  padding: 30px;
}

.fp-positions {
  gap: 20px;
}

.fp-positions div {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

.fp-recruit-img img {
  object-fit: cover;
  height: 100%;
}