.job-info-container {
  background-image: url('../../images/backgrounds/jobinfoBG.png');
  background-position: center;
  background-size: cover;
}

.job-info-content {
  background-color: #81818123;
  padding: 5vh 50px;
  gap: 50px;
}

#job-info-link {
  align-self: flex-start;
}

#job-info-link div {
  gap: 20px;
}

#job-info-link div:hover {
 text-decoration: underline;
}

.job-info-content > div {
  gap: 95px;
}

.job-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  overflow: visible;
  row-gap: 50px;
}

#responsibilities {
  grid-column: 1;
  grid-row: 1;
  gap: 20px;
}

#qualifications {
  grid-column: 1;
  grid-row: 2;
  gap: 20px;
}

#qualifications,
#responsibilities li {
  line-height: 1.6;
}

.job-info-char-container {
  grid-column: 2;
  grid-row: 1 / 3;
  position: relative;
}

.job-info-char-container img {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  max-width: 150%;
  max-height: auto;

}

/*------ THANK YOU MESSAGE CSS ------*/

#thank-you {
  margin-top: 50px;
  gap: 30px;
  color: #be9d15;
}