.nav-container {
  position: fixed;
  top: 0;
  width: calc(100% - 120px);
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  box-shadow: 0 0 0 0.5px #f3f3f3;
}

.nav-container.scrolled {
  box-shadow: none;
  transition: background-color 0.3s ease;
}

.scrolled {
  background-color: #0A0909;
}

nav {
  gap: 50px;
}

nav>ul {
  list-style: none;
}

.nav-link {
  padding: 10px 15px;
  text-decoration: none;
}