/* DESKTOP VIEW */

.nav-container {
  position: fixed;
  top: 0;
  width: calc(100% - 120px);
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  box-shadow: 0 0 0 0.5px #f3f3f3;
}

.nav-container.scrolled {
  box-shadow: none;
  transition: background-color 0.3s ease;
}

.scrolled {
  background-color: #0A0909;
}

nav {
  gap: 50px;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-link {
  padding: 10px 15px;
  text-decoration: none;
}

.icon-list {
  display: flex;
  gap: 20px;
}

.social-icons {
  width: 24px;
  height: 24px;
}

#burger-menu {
  display: none;
  cursor: pointer;
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 9, 9, 0.95);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: right 0.3s ease-in-out;
}

/* MOBILE VIEW */

@media (max-width: 768px) {

  /* CLOSED MENU */

  .nav-container {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0;
    z-index: 10;
    box-shadow: none;
    height: 100px;
    justify-content: space-around !important;
    background-color: #0A0909;
  }

  #logo {
    width: 160px;
    height: 60px;
  }

  nav {
    width: 85%;
  }

  .desktop-ul {
    display: none !important;
  }

  #burger-menu,
  #close-menu {
    display: flex;
    font-size: 36px;
    color: #F3F3F3;
  }

  /* OPEN MENU */

  .overlay-open {
    right: 0;
    background-image: url('../../images/backgrounds/Mobile_menu_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden; /* Ensure no scrolling inside the overlay */
  }

  #mobile-nav {
    height: 100px;
  }

  .mobile-ul {
    list-style: none;
  }

  .nav-link {
    padding: 10px 15px;
  }

  .nav-link a {
    font-family: 'Baloo Bhai 2' !important;
    font-weight: 600;
    font-size: 1.5rem;
  }
}
