.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-align {
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end !important;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.grid-1-2 {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
}

.grid-2-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 800;
}

.white {
  color: white;
}

.width {
  width: 100%;
}

.heading-1 {
  font-size: 2.25rem; /* 36px */
}

.heading-2 {
  font-size: 1.75rem; /* 28px */
}

.font-2 {
  font-size: 1.125rem; /* 18px */
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}