/*
primary = '#9A7E11';
secondary = '#23404D';
white = '#F3f3f3';
black = '#1f1f1f';
gray = '#272727';
nav = #0A0909;
*/

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-align {
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end !important;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.grid-1-2 {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
}

.grid-2-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 800;
}

.text-align {
  text-align: center;
}

.w100 {
  width: 100% !important;
}

.white {
  color: white;
}

.black {
  color: #1f1f1f;
}

.width {
  width: 100%;
}

/* FONT SIZES */

.heading-1 {
  font-size: 2.25rem; /* 36px */
}

.header-font-size {
  font-size: 2.875rem;
}

.heading-2 {
  font-size: 1.75rem; /* 28px */
}

.font-2 {
  font-size: 1.125rem; /* 18px */
}

.font-3 {
  font-size: 1.25rem; /* 20px */
}

/* RESPONSIVE COLS */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* LOGO */

#logo {
  width: 160px;
  height: 60px;
}

/* SOCIAL MEDIA ICONS*/

.social-icons {
  height: 30px;
  width: 30px;
  transition: height 0.3s ease, transform 0.3s ease;
}

.social-icons:hover {
  transform: translateY(-2px);
}

.icon-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 15px;
}

/* BUTTONS */

#btn {
  background-color: #9A7E11;
  font-size: 1.25rem; /* 20px */
  color: #f3f3f3;
  padding: 20px 50px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
    transition: background-color 0.4s ease, color 0.4s ease;
}

#btn-sm {
  margin-top: 20px;
  background-color: #9A7E11;
  font-size: 1.125rem; /* 18px */
  color: #f3f3f3;
  padding: 15px 25px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
    transition: background-color 0.4s ease, color 0.4s ease;
}

#btn:hover,
#btn-sm:hover {
  background-color: #5C4C0E;
  color: #8C8C8C;
  cursor: pointer;
}